// Purpose: Ignore specific files or directories from being tracked by git


# Ignore node_modules directory
node_modules/

# Ignore log files
logs/
*.log

# Ignore Mac system files
.DS_Store

# Ignore temporary files created by editors
*.swp
*.swo

# Ignore build directories
dist/
build/

# Ignore coverage reports
coverage/

# Ignore environment-specific files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore Python virtual environments
venv/
conasslite/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore database files
products.db

# Ignore other system files
Thumbs.db